/* xs <576px 
sm ≥576px	
md ≥768px	
lg ≥992px	
xl ≥1200px	
xxl ≥1400px */
@media screen and (width>=992px) {

    /* header */
    header {
        position: absolute !important;
    }

    .upperFixedBar {
        font-size: 14px !important;
    }
    .header-icon{
        font-size: 20px !important;
    }

    .flex-full {
        flex: 0;
    }

    /* breadcrumbs */
    .breadcrumbs {
        margin-top: 150px;
    }

    /* menu item start */
    .menu-box {
        display: flex;
        padding-right: 20px;
    }

    .image {
        flex: 0 0 200px;
    }

    .caption {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .caption h4 {
        flex: 0 0 80%;
        order: 1;
        text-align: start;
    }

    .caption span {
        flex: 0 0 100%;
        order: 3;
        /* text-align: justify; */
    }

    .caption .price {
        flex: 0 0 20%;
        order: 2;
    }

    .caption button {
        order: 4;
        flex: 0 0 60%;
        margin-left: auto;
    }

    /* menu item end */
}

@media screen and (width>=768px) {}

@media screen and (width>=576px) {
    /* ----------------newsletter----------------------- */
    
    .newsletter .news-div-1, .newsletter .news-div-2 form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
      }
      .newsletter .news-div-1, .newsletter .news-div-2 form div{
        flex-grow: 1;
      }
     
      .newsletter .news-div-2 .btn{
        width:100px !important;
        height: 60px;
        margin-top: 0px;
    }
      
    .newsletter .news-div-1 p{
        border-left: 2px solid white;
        padding: 10px;
        margin: 0;
    }
    /* ----------------newsletter END----------------------- */
}